# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build directories
client/build/
server/build/

# Environment variables
.env

# IDE/Editor specific files
.vscode/
.idea/
*.code-workspace

# OS specific files
.DS_Store
Thumbs.db

