/* About.css */
.about-container {
    padding: 20px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about-description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .section-title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .owner-section {
    margin-top: 10rem;
  }
  
  .location-section, .consignment-section .owner-section {
    margin-bottom: 2rem;
  }
  
  .location-description, .consignment-notice, .consignment-details, .consignment-rules, .consignment-policy, .contact-info {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .location-picture, .owner-picture {
    margin-top: 2.5rem;
    border-radius: 1rem;
  }




  /* Existing styles here */

/* Media query for phones */
@media (max-width: 600px) {
    .about-container {
      width: 90%; /* Full width for the about container */
      padding: 10px; /* Reduce padding */
    }
  
    .about-title {
      font-size: 2rem; /* Smaller font size for the title */
    }
  
    .about-description {
      font-size: 1rem; /* Smaller font size for the description */
    }
  
    .section-title {
      font-size: 1.5rem; /* Smaller font size for section titles */
    }
  
    .owner-section, .location-section, .consignment-section {
      margin-top: 5rem; /* Reduce margin for sections */
    }
  
    .location-description, .consignment-notice, .consignment-details, .consignment-rules, .consignment-policy, .contact-info {
      font-size: 0.9rem; /* Smaller font size for text in sections */
    }
  
    .location-picture, .owner-picture {
      width: 100%; /* Full width for pictures */
      height: auto; /* Maintain aspect ratio */
    }
  }
  